body {
    font-family: Arial, sans-serif;
    background-color: #fef3f8; /* 明るい背景 */
    color: #333;
}

header {
    background-color: #ff69b4; /* ピンクのヘッダー */
    color: white;
    text-align: center;
    padding: 1em;
}

.profile-img {
    width: 150px; /* プロフィール画像のサイズ */
    border-radius: 50%; /* 丸くする */
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin: 1em 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ff69b4;
    border-radius: 5px;
    margin: 1em 0;
    padding: 1em;
}

footer {
    text-align: center;
    padding: 1em 0;
}
